<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084766458414-e2j17p6kvmhnc9dah33g3e44smcjubtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084766458414-e2j17p6kvmhnc9dah33g3e44smcjubtv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1084766458414-2mnssisifdotprcerhausjog9pj2p8qo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkVXum8VLpI2qtlj1e3gghPXlGEsVDUps</string>
	<key>GCM_SENDER_ID</key>
	<string>1084766458414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bind.store</string>
	<key>PROJECT_ID</key>
	<string>prod-bind</string>
	<key>STORAGE_BUCKET</key>
	<string>prod-bind.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084766458414:ios:e7db83cb638c73aec0c5bf</string>
</dict>
</plist>